.productCard {
  display: grid;
  position: relative;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  max-width: 155px;
  height: 195px;
  justify-items: center;
  background: #fff;
  box-shadow: 0 0.5rem 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header header"
    "img img"
    "star btn"
    "price btn";
}

.productCard:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-out;
}

li:nth-child(odd) .productCard {
  border-top-right-radius: 2rem;
}

li:nth-child(even) .productCard {
  border-top-left-radius: 2rem;
}

.productCard__header {
  grid-area: header;
  padding: 1rem 1rem 0 1rem;
  text-wrap: nowrap;
}
.productCard__img {
  grid-area: img;
  z-index: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  max-width: 122px;
  max-height: 122px;
}
.productCard__price {
  grid-area: price;
  padding: 0 0 0.5rem 1rem;
}
.productCard__star {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  z-index: 1;
  grid-area: star;
}
.productCard__btn {
  grid-area: btn;
  position: absolute;
  background: var(--primary-color);
  cursor: pointer;
  padding: 0.5rem;
  bottom: 0;
  right: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
