.productsList__container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.productsList {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  justify-items: center;
  min-height: 0;
  overflow: auto;
}
