.productDetailsContainer {
  justify-items: center;
}

.productDetailsCard {
  margin-top: 0.125rem;
  background: white;
  padding: 3.125rem 1.5rem 0 1.5rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.productDetailsCard__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.productDetailsCard__price {
  justify-self: flex-end;
}

.productDetailsCard__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1.375rem;
}
